img {
    width: 300px;
    animation-timing-function: linear;
}

#race {
    font-size: 30px;
}


/* Your code goes here: */

@keyframes right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
    }
}